html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
canvas {
  display: block;
  height: 100vh;
}

@font-face {
    font-family: 'panamaregular';
    src: url('https://leticiassouza.github.io/verve_galeria/css/fonts/panama-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

.text-IG {
font-family: 'panamaregular';
color: #00000;
position: absolute;
bottom: 10px;
}

@media only screen 
  and (min-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
